@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*:root{
    --fondo_Principal:#12131A ;
    --fondo_Cards: #1c1f2a;
    --texto_Principal: #f2f2f7;
    --texto_Secundario: #b4b7c9;
    --cart_Violeta: #c99dff;
    --cart_Naranja: #ffb21e;
    --cart_Coral: #ff8a65;
    --barra_Progreso: #d19bff;
    --bordes_Sutiles: #2a2d3a;
}
html {
    background-color: var(--fondo_Principal);
    font-family: "Inter", sans-serif;
    padding: 0%;
    margin: 0;
    /* mientras escribo no veo la letra  */
    color: red;
}
.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--texto_Principal);
    width: 100%;
    max-width: 750%;
    margin: 0 auto 2.5 auto;
    
}
.logo_Grupo {
    display: flex;
    align-items: center;
    gap: 0.6;
    /* revisar si solo funciona en contenedores flex */
}
.logo {
    width: 50px;
    height: 50px;
}
.barra button {
    padding: 0.6rem 0.9rem;
    background-color: var(--fondo_Cards);
    width: 70px;
    height: 50px;
    border: var(--bordes_Sutiles);
    color: var(--texto_Principal);
    border-radius: 80px;
}
.barra button:hover {
    background-color: var(--texto_Principal);
}
h1 {
    font-size: 100;
    font-weight: 100;
}

h3 {
    flex: auto;
    
}